@inherits LayoutComponentBase
@inject NavigationManager Navigation

<div class="page">
    @if (ShowSidebar)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool ShowSidebar => Navigation.Uri.Contains("/journal") || Navigation.Uri.Contains("/dashboard");
}
