@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IThemeService ThemeService

<div class="page @currentTheme">
    @if (ShowSidebar)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

@code {
    private string currentTheme = "dark";

    private bool ShowSidebar =>
        Navigation.Uri.Contains("/journal") ||
        Navigation.Uri.Contains("/dashboard");

    protected override async Task OnParametersSetAsync()
    {
        currentTheme = await ThemeService.GetCurrentThemeAsync();
    }
}
