@namespace Journal.Components.Layout
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@using Journal.Models;
@using Journal.Services
@inject AuthService AuthService

<div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


