@page "/journal/add"
@using Journal.Models;
@using Journal.Services;
@inject NavigationManager Navigation
@inject JournalService JournalService
@inject AuthService AuthService



<div class="journal-container">
    <h1>Today’s Journal</h1>

    <div class="form-group">
        <input type="text"
               placeholder="Give today a title..."
               @bind="newJournal.Title" />
    </div>

    <div class="form-group">
        <textarea placeholder="Write freely. No rules. No judgment."
                  @bind="newJournal.Content"></textarea>
    </div>

    <div class="form-group">
        <div class="tag-header">
            <label>Tags:</label>
        </div>
        <hr />
        <div class="tags-container">
            @foreach (var tag in AvailableTags)
            {
                <label class="tag-item">
                    <input type="checkbox" />                           
                    @tag
                </label>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="mood-header">
            <label>Moods</label>
        </div>
        <hr />
        <div class="mood-container">
            @foreach (var mood in MoodsList)
            {
                <label class="tag-item">
                    <input type="radio"
                           name="mood"
                           checked="@(newJournal.Mood == mood)"
                           @onchange="() => newJournal.Mood = mood" />
                    @mood
                </label>
            }
        </div>
    </div>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <p class="error-msg">@errorMessage</p>
    }

    <div class="button-group">
        <button class="btn secondary-btn" @onclick="GoToList">Back</button>
        <button class="btn primary-btn" @onclick="SaveEntryAsync">Save Entry</button>
    </div>
</div>


@code {
    private JournalEntry newJournal = new JournalEntry();
    private string errorMessage = string.Empty;

    private List<string> AvailableTags = new List<string> {"Work", "Career", "Studies", "Family", "Friends", "Relationships", "Health", "Fitness", "Personal Growth", "Self-care", "Hobbies", "Travel", "Nature", "Finance", "Spirituality", "Birthday", "Holiday", "Vacation", "Celebration", "Exercise", "Reading", "Writing", "Cooking", "Meditation", "Yoga", "Music", "Shopping", "Parenting", "Projects", "Planning", "Reflection"};

    private List<string> MoodsList = new List<string> { "Happy", "Excited", "Relaxed", "Grateful", "Confident", "Calm", "Thoughtful", "Curious", "Nostalgic", "Bored", "Sad", "Angry", "Stressed", "Lonely", "Anxious" };


    private async Task SaveEntryAsync()
    {
        var today = DateTime.Now.Date;

        try
        {
            var journals = await JournalService.GetAllJournalsAsync(currentUser!.Id);
            bool existsToday = journals.Any(j => j.CreatedAt.Date == today);

            if (existsToday)
            {
                errorMessage = "You can only create one journal entry per day.";
                return;
            }

            if (string.IsNullOrWhiteSpace(newJournal.Mood))
            {
                errorMessage = "Please select a mood.";
                return;
            }

            if (!string.IsNullOrWhiteSpace(newJournal.Title) && !string.IsNullOrWhiteSpace(newJournal.Content))
            {
                await JournalService.AddJournalEntryAsync(
                    newJournal.Title,
                    newJournal.Content,
                    newJournal.Mood,
                    currentUser.Id
                );

                newJournal = new JournalEntry(); 
                errorMessage = string.Empty;
                Navigation.NavigateTo("/journal/list");
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}, {ex.InnerException?.Message}";
            Console.WriteLine(ex.Message);
        }
}


    private void GoToList() => Navigation.NavigateTo("/journal/list");


    private User? currentUser;

    protected override void OnInitialized()
    {
        currentUser = AuthService.GetCurrentUser();

        if (currentUser == null)
        {
            Navigation.NavigateTo("/login");
            return;
        }
    }

}
