@page "/journal/list"
@using Journal.Models
@using Journal.Services
@inject JournalService JournalService;
@inject AuthService AuthService;

<div class="journal-list-container">
    <h1>Your Journal Entries</h1>

    @if (JournalService.GetAllJournals(currentUser.Id).Count == 0)
    {
        <p class="empty-text">No journal entries yet.</p>
    }
    else
    {
        <ul class="journal-items">
            @foreach (var journal in JournalService.GetAllJournals(currentUser.Id))
            {
                <li class="journal-item">
                    <div class="journal-header">
                        <strong>@journal.Title</strong>
                        <span class="journal-date">@journal.CreatedAt.ToString("g")</span>
                    </div>

                    @if (!string.IsNullOrEmpty(journal.Mood))
                    {
                        <div class="journal-mood">
                            <span class="mood-label">Mood:</span>
                            <span class="mood">@journal.Mood</span>
                        </div>
                    }

                    
                    <hr />
                    <p>@journal.Content</p>
                </li>
            }
        </ul>
    }

    <NavLink class="btn primary-btn" href="/journal/add">Add New Journal</NavLink>
</div>

@code {
    private User? currentUser;
    protected override void OnInitialized()
    {
        currentUser = AuthService.GetCurrentUser();
    }
}