@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --primary-bg: #121212;
    --secondary-bg: #1e1e1e;
    --text: #e1e1e1;
    --btn-text: #1e1e1e;
    --muted: #898989;
    --border: #253733;
    --primary-btn-bg: #4ade80;
    --primary-btn-hover: #4ade8040;
    --secondary-btn-bg: #4ade8040;
    --secondary-btn-hover: #4ade80;
    --accent: #4ade80;
    --error: #ef4444;
}

.light {
    --primary-bg: #f6f7f5; 
    --secondary-bg: #eceeea; 
    --text: #1f2933;
    --btn-text: #ffffff;
    --muted: #6b7280;
    --border: #d1d5db;
    --primary-btn-bg: #22c55e;
    --primary-btn-hover: #22c55e40;
    --secondary-btn-bg: #22c55e40;
    --secondary-btn-hover: #22c55e;
    --accent: #22c55e;
    --error: #ef4444;
}

html, body {
    width: 100%;
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


.btn {
    padding: 12px 28px;
    border-radius: 999px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.primary-btn {
    background-color: var(--primary-btn-bg);
    color: var(--btn-text);
    border: 1px solid var(--border);
}

    .primary-btn:hover {
        background-color: transparent;
        color: var(--accent);
    }


.login-page .input,
.register-page .input,
.change-password-page input{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #444;
    background: transparent;
    color: var(--text);
}

    .change-password-page input:focus {
        background: transparent;
        color: var(--text)
    }

    ::selection {
        background-color: var(--accent);
        color: var(--primary-bg);
    }

.initial-loader {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent);
}

#editor .ql-editor.ql-blank::before {
    color: var(--muted) !important;
    opacity: 0.5 !important;
    font-style: normal;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 16px;
    color: var(--muted);
}

.loading-spinner {
    width: 48px;
    height: 48px;
    border: 4px solid var(--border);
    border-top-color: var(--accent);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

    .loading-spinner.small {
        width: 32px;
        height: 32px;
        border-width: 3px;
    }

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
