* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    /*    background-color: #f7f6f2;*/
    background-color: #1c1c1c;
    color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

.btn {
    padding: 12px 28px;
    border-radius: 999px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.primary-btn {
    background-color: #d8cbb6;
    color: #3a3a3a;
}

.primary-btn:hover {
    background-color: #cbbfa3;
}

.secondary-btn {
    background-color: #6f9e9a;
    color: #ffffff;
}

.secondary-btn:hover {
    background-color: #5e8c89;
}

