* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg: #10221d;
    --secondary-bg: #162E26;
    --text: #fff;
    --muted: #7a8c84;
    --border: #253733;
    --primary-btn-bg: #162E26;
    --primary-btn-hover: #10221d;
    --secondary-btn-bg: #10221d;
    --secondary-btn-hover: #162E26;
    --link: #4ade80;
}

html, body {
    width: 100%;
    min-height: 100%;
    background: var(--primary-bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


.btn {
    padding: 12px 28px;
    border-radius: 999px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.primary-btn {
    background-color: var(--primary-btn-bg);
    color: var(--text);
    border: 1px solid var(--border);
}

    .primary-btn:hover {
        background-color: var(--primary-btn-hover);
        color: var(--text);
    }

.secondary-btn {
    background-color: var(--secondary-btn-bg);
    color: var(--text);
    border: 1px solid var(--border);
}

    .secondary-btn:hover {
        background-color: var(--secondary-btn-hover);
        color: var(--text);
    }

.login-page .input,
.register-page .input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #444;
    background: transparent;
    color: var(--text);
}
