* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg: #121212;
    --secondary-bg: #1e1e1e;
    --text: #e1e1e1;
    --btn-text: #1e1e1e;
    --muted: #898989;
    --border: #253733;
    --primary-btn-bg: #4ade80;
    --primary-btn-hover: #4ade8040;
    --secondary-btn-bg: #4ade8040;
    --secondary-btn-hover: #4ade80;
    --link: #4ade80;
    --error: #ef4444;
}

html, body {
    width: 100%;
    min-height: 100%;
    background: var(--primary-bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


.btn {
    padding: 12px 28px;
    border-radius: 999px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.primary-btn {
    background-color: var(--primary-btn-bg);
    color: var(--btn-text);
    border: 1px solid var(--border);
}

    .primary-btn:hover {
        background-color: transparent;
        color: var(--link);
    }

/*.secondary-btn {
    background-color: var(--secondary-btn-bg);
    color: var(--text);
    border: 1px solid var(--border);
}

    .secondary-btn:hover {
        background-color: var(--secondary-btn-hover);
        color: var(--text);
    }*/

.login-page .input,
.register-page .input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #444;
    background: transparent;
    color: var(--text);
}

::selection{
    background-color: var(--link);
    color: var(--primary-bg);
}
