
    .login-page .input,
    .register-page .input{
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #444;
        background: transparent;
        color: #fff;
    }
